/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
div.startimage {
    text-align: center;
    position: absolute;
    top: 45%;
    left: 50%;
    -ms-transform: translateY(-50%);
    -ms-transform: translateX(-50%);
    transform: translateY(-50%);
    transform: translateX(-50%);
}

.bg-secondary {
    bg-color: $secondary;
}

.start-logo {
    min-width: 120px;
    max-width: 200px;
    position: relative;
}

@media not screen and (max-width:992px) {
    .start-logo {
        min-width: 320px;
        max-width: 500px;
        position: relative;
        left: 10%;
    }
}


